<hibernate-configuration>
    <session-factory>
        <property name="dialect">org.hibernate.dialect.PostgreSQL94Dialect</property> <!-- DB Dialect -->
        <property name="hbm2ddl.auto">validate</property> <!-- create / create-drop / update -->

        <property name="connection.driver_class">org.postgresql.Driver</property> <!-- DB Driver -->
        <property name="connection.url">jdbc:postgresql://localhost:5432/demodb</property><!-- BD Mane -->
        <property name="connection.username">postgres</property> <!-- DB User -->
        <property name="connection.password">postgres</property> <!-- DB Password -->
        <property name="hibernate.enable_lazy_load_no_trans">true</property>


        <property name="generate_statistics">true</property>
        <property name="hibernate.show_sql">true</property> <!-- Show SQL in console -->
        <property name="hibernate.format_sql">true</property> <!-- Show SQL formatted -->
        <property name="hibernate.use_sql_comments">true</property>
        <property name="connection.pool_size">5</property>

        <property name="cache.provider_class">org.hibernate.cache.HashtableCacheProvider</property>
        <property name="transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property>

        <property name="current_session_context_class">thread</property>

        <!-- mapping class using annotation -->
        <mapping class="app.entities.Category"/>
        <mapping class="app.entities.Customer"/>
        <mapping class="app.entities.CustomerDemographic"/>
        <mapping class="app.entities.Employee"/>
        <mapping class="app.entities.Order"/>
        <mapping class="app.entities.OrderDetails"/>
        <mapping class="app.entities.Product"/>
        <mapping class="app.entities.Region"/>
        <mapping class="app.entities.Shipper"/>
        <mapping class="app.entities.Supplier"/>
        <mapping class="app.entities.Territory"/>

    </session-factory>

</hibernate-configuration>