body {
    background-color: #323232;
    color: blanchedalmond;
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
}

#container {
    width: 100%;
    height: 100%;
}

#menu {
    margin: auto;
    width: 50%;
    height: 50%;
}

.v-wrap{
    height: 100%;
    width: 100%
    white-space: nowrap;
    text-align: center;
}

.v-box{
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 25px;
    width: 50%;
    height: 10%;
}

#top_menu {
    margin-right: auto;
    margin-left: auto;
    display: inline-block;
}

a {
    color: blanchedalmond;
    text-decoration: none;
}

#db_table {
    width: 60%;
    display: block;
    overflow-y: scroll;
    max-height: 700px;
    margin: 5% auto;
    border-spacing: 0;
    background-color: #bfbfbf;
    color: black;
    border: 3px solid dimgray;
}

#db_table th, #db_table td {
    border: 1px solid dimgray;
    text-align: center;
}

#db_table td {
    height: 50px;
}

#details_table {
    width: 60%;
    display: block;
    border-spacing: 0;
    border-collapse: separate;
    border-spacing: 15px;
}

#details_table td {
    padding-left: 200 px;
    padding-right: 200 px;
}


#orders_form {
    width: 60%;
    display: block;
    max-height: 700px;
    margin: 5% auto;
    background-color: #bfbfbf;
    color: black;
    border: 3px solid dimgray;
}

#orders_form td {
    margin: 10px;
    text-align: center;
}

