<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Java Hibernate and Postgres demonstration</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link  href="../static/styles.css" th:href="@{/styles.css}" rel="stylesheet"/>
</head>
<body>
<div id="container">
    <a th:href="@{/}">
        <button type="button">Powrót do strony głównej</button>
    </a>

    <form action="#" th:action="@{/orders/addForm}" method="post">
            <th:block th:each="entry : ${orderedProducts.entrySet()}">
                <input type="hidden" th:id="${entry.key}" th:name="${entry.key}" th:value="${entry.value}" />
            </th:block>

        <table id="db_table">
            <thead>
            <tr>
                <th>Id zamówionego produktu: </th>
                <th>Nazwa zamówionego produktu:</th>
                <th>Zamówiona ilość produktów:</th>
                <th>Cena jednostkowa produktu:</th>
                <th>Liczba sztuk w jednym opakowaniu:</th>

            </tr>
            </thead>
            <tbody>
            <th:block th:each="details : ${orderedProductsDetails}">
                <tr>
                    <td th:text="${details.productId}"></td>
                    <td th:text="${details.productName}"></td>
                    <td th:text="${details.amountOrdered}"></td>
                    <td th:text="${details.unitPrice}"></td>
                    <td th:text="${details.quantityPerUnit}"></td>
                    <td></td>
                </tr>
            </th:block>
            <tr>
                <td>Nazwa produktu:</td>
                <td>
                    <select name = "productId" id="productId" th:value="${productId}">
                        <option value=""> Wybierz produkt ></option>
                        <option th:each="p : ${products}"
                                th:value="${p.productId}"
                                th:text="${p.productName}"></option>
                    </select>
                </td>
                <td>Ilość: </td>
                <td><input type="text" id="amount" name="amount" th:value="${amount}"/></td>
                <td>
                    <button type="submit">Dodaj do listy</button>
                </td>
            </tr>
            </tbody>
        </table>
    </form>




    <form method="POST" th:action="@{/orders/addOrder}" role="form">
        <th:block th:each="entry : ${orderedProducts.entrySet()}">
            <input type="hidden" th:id="${entry.key}" th:name="${entry.key}" th:value="${entry.value}" />
        </th:block>

        <table style="width: 30%; margin-left: 50%; margin-right: 20%;">
            <tr>
                <td>Klient:</td>
                <td>
                <select name = "customerId" id="customerId" th:value="${customerId}">
                    <option value=""> Wybierz klienta ></option>
                    <option th:each="c : ${customers}"
                            th:value="${c.customerId}"
                            th:text="${c.companyName}"></option>
                </select>
                </td>
                <td>
                    <button type="submit">Dodaj zamówienie</button>
                </td>
            </tr>
        </table>
    </form>
    <div>
    </div>
</div>
</body>
</html>