<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Java Hibernate and Postgres demonstration</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>
<div id="container">
    <a href="/customers/selectAll">
        <div class="button" id="customers_button">
            <p>Wyświetl wszystkich klientów</p>
        </div>
    </a>
</div>
</body>
</html>