<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Java Hibernate and Postgres demonstration</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>
<div id="container">

    <div id="top_menu">
        <a th:href="@{/}">
            <button type="button">Powrót do strony głównej</button>
        </a>
        <a th:href="@{/products/addForm}">
            <button type="button">Dodaj product</button>
        </a>
    </div>

    <table id="db_table">
        <thead>
        <tr>
            <th>ID productu:</th>
            <th>Nazwa productu:</th>
            <th>Cena jednostkowa:</th>
            <th>Ilość na stanie:</th>
            <th>Kategoria:</th>
            <th>Dostawca:</th>
            <th>Szczegóły</th>
            <th>Usuń</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="product : ${products}">
            <tr>
                <td th:text="${product.productId}"></td>
                <td th:text="${product.productName}"></td>
                <td th:text="${product.unitPrice}"></td>
                <td th:text="${product.unitsInStock}"></td>
                <td th:text="${product.category.categoryName}"></td>
                <td th:text="${product.supplier.companyName}"></td>
                <td>
                    <form method="POST" th:action="@{/products/selectProduct}">
                        <input type="hidden" name="productId" id="productId" th:value="${product.productId}"/>
                        <button type="submit" name="submit" value="value" class="link-button">Pokaż szczegóły</button>
                    </form>
                </td>
                <td>
                    <form method="POST" th:action="@{/products/deleteProduct}">
                        <input type="hidden" name="productId" id="productId" th:value="${product.productId}"/>
                        <button type="submit" name="submit" value="value" class="link-button">Usuń produkt</button>
                    </form>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>
</div>
</body>
</html>