<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Java Hibernate and Postgres demonstration</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>
<div id="container">
    <a th:href="@{/}">
        <button type="button">Powrót do strony głównej</button>
    </a>
    <div>
        <table>
            <tr>
                <td>
                    <p th:inline="text">Id klienta: </p>
                </td>
                <td>
                    <p th:inline="text">[[${customer.customerId}]]</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p th:inline="text">Nazwa firmy : </p>
                </td>
                <td>
                    <p th:inline="text">[[${customer.companyName}]]</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p th:inline="text">Nazwa osoby kontaktowej: </p>
                </td>
                <td>
                    <p th:inline="text">[[${customer.contactName}]]</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p th:inline="text">Stanowisko osoby kontaktowej: </p>
                </td>
                <td>
                    <p th:inline="text">[[${customer.contactTitle}]]</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p th:inline="text">Adres siedziby firmy: </p>
                </td>
                <td>
                    <p th:inline="text">[[${customer.address.address}]], [[${customer.address.postalCode}]]
                        [[${customer.address.city}]],
                        [[${customer.address.country}]]</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p th:inline="text">Region: </p>
                </td>
                <td>
                    <p th:inline="text">[[${customer.region}]]</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p th:inline="text">Telefon kontaktowy: </p>
                </td>
                <td>
                    <p th:inline="text">[[${customer.phone}]]</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p th:inline="text">Fax: </p>
                </td>
                <td>
                    <p th:inline="text">[[${customer.fax}]]</p>
                </td>
            </tr>
        </table>
    </div>

    <form method="POST" th:action="@{/customers/updateForm}">
        <input type="hidden" name="customerId" id="customerId" th:value="${customer.customerId}"/>
        <button type="submit" name="submit" value="value" class="link-button">Edytuj dane klienta</button>
    </form>

</div>
</body>
</html>