<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Java Hibernate and Postgres demonstration</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>
<div id="container">
    <a th:href="@{/}">
        <button type="button">Powrót do strony głównej</button>
    </a>
    <div>
        <table>
            <tr>
                <td>
                    <p th:inline="text">Id produktu: </p>
                </td>
                <td>
                    <p th:inline="text">[[${product.productId}]]</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p th:inline="text">Nazwa produktu : </p>
                </td>
                <td>
                    <p th:inline="text">[[${product.productName}]]</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p th:inline="text">Liczba sztuk na jednostkę: </p>
                </td>
                <td>
                    <p th:inline="text">[[${product.quantityPerUnit}]]</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p th:inline="text">Cena za jednostkę: </p>
                </td>
                <td>
                    <p th:inline="text">[[${product.unitPrice}]]</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p th:inline="text">Liczba jednostek w magazynie: </p>
                </td>
                <td>
                    <p th:inline="text">[[${product.unitsInStock}]]</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p th:inline="text">Liczba zamówionych jednostek: </p>
                </td>
                <td>
                    <p th:inline="text">[[${product.unitsOnOrder}]]</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p th:inline="text">Reorder level?: </p>
                </td>
                <td>
                    <p th:inline="text">[[${product.reorderLevel}]]</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p th:inline="text">Discontinued: </p>
                </td>
                <td>
                    <p th:inline="text">[[${product.discontinued}]]</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p th:inline="text">Kategoria: </p>
                </td>
                <td>
                    <p th:inline="text">[[${product.category.categoryName}]]</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p th:inline="text">Dostawca: </p>
                </td>
                <td>
                    <p th:inline="text">[[${product.supplier.companyName}]]</p>
                </td>
            </tr>
        </table>
    </div>

    <form method="POST" th:action="@{/products/updateForm}">
        <input type="hidden" name="productId" id="productId" th:value="${product.productId}"/>
        <button type="submit" name="submit" value="value" class="link-button">Edytuj dane produktu</button>
    </form>

</div>
</body>
</html>