<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Java Hibernate and Postgres demonstration</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link  href="../static/styles.css" th:href="@{/styles.css}" rel="stylesheet"/>
</head>
<body>
<div id="container">

    <div id="top_menu">
        <a th:href="@{/}">
            <button type="button">Powrót do strony głównej</button>
        </a>
    </div>

    <table id="db_table" style="width: 40%;">
        <thead>
        <tr>
            <th>Rodzaj operacji:</th>
            <th>Ilość wykonanych zapytań JPQL:</th>
            <th>Średni czas zapytania JPQL:</th>
            <th>Ilość wykonanych zapytań SQL:</th>
            <th>Średni czas zapytania SQL:</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><p>Zapis danych: </p></td>
            <td><p th:inline="text">[[${createCount}]]</p></td>
            <td><p th:inline="text">[[${createAvgTime}]] μs</p></td>
            <td><p th:inline="text">[[${nativeCreateCount}]]</p></td>
            <td><p th:inline="text">[[${nativeCreateAvgTime}]] μs</p></td>
        </tr>
        <tr>
            <td><p>Odczyt danych: </p></td>
            <td><p th:inline="text">[[${readCount}]]</p></td>
            <td><p th:inline="text">[[${readAvgTime}]] μs</p></td>
            <td><p th:inline="text">[[${nativeReadCount}]]</p></td>
            <td><p th:inline="text">[[${nativeReadAvgTime}]] μs</p></td>
        </tr>
        <tr>
            <td><p>Aktualizacja danych</p></td>
            <td><p th:inline="text">[[${updateCount}]]</p></td>
            <td><p th:inline="text">[[${updateAvgTime}]] μs</p></td>
            <td><p th:inline="text">[[${nativeUpdateCount}]]</p></td>
            <td><p th:inline="text">[[${nativeUpdateAvgTime}]] μs</p></td>
        </tr>
        <tr>
            <td><p>Usuwanie danych: </p></td>
            <td><p th:inline="text">[[${deleteCount}]]</p></td>
            <td><p th:inline="text">[[${deleteAvgTime}]] μs</p></td>
            <td><p th:inline="text">[[${nativeDeleteCount}]]</p></td>
            <td><p th:inline="text">[[${nativeDeleteAvgTime}]] μs</p></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>