<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Java Hibernate and Postgres demonstration</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>
<div id="container">
    <a th:href="@{/}">
        <button type="button">Powrót do strony głównej</button>
    </a>

    <form method="POST" th:action="@{/products/updateProduct}" th:object="${product}" role="form">
        <table>
            <tr>
                <td>Nazwa produktu:</td>
                <td><input type="text" th:field="*{productName}"/></td>

            </tr>
            <tr>
                <td>Liczba sztuk na jednostkę:</td>
                <td><input type="text" th:field="*{quantityPerUnit}"/></td>
            </tr>
            <tr>
                <td>Cena za jednostkę:</td>
                <td><input type="text" th:field="*{unitPrice}"/></td>
            </tr>
            <tr>
                <td>Liczba jednostek na magazynie:</td>
                <td><input type="text" th:field="*{unitsInStock}"/></td>
            </tr>
            <tr>
                <td>Liczba zamówionych jednostek:</td>
                <td><input type="text" th:field="*{unitsOnOrder}"/></td>
            </tr>
            <tr>
                <td>Reorder level:</td>
                <td><input type="text" th:field="*{reorderLevel}"/></td>
            </tr>
            <tr>
                <td>Discontinued:</td>
                <td><input type="text" th:field="*{discontinued}"/></td>
            </tr>
            <tr>
                <td>Dostawca:</td>
                <td>
                    <select name = "supplierId" id="supplierId" th:value="${supplierId}">
                        <option th:value="${product.supplier.supplierId}" th:text="${product.supplier.companyName}"></option>
                        <option th:each="s : ${suppliers}"
                                th:value="${s.supplierId}"
                                th:text="${s.companyName}"></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Kategoria:</td>
                <td>
                    <select name = "categoryId" id="categoryId" th:value="${categoryId}">
                        <option th:value="${product.category.categoryId}" th:text="${product.category.categoryName}"></option>
                        <option th:each="c : ${categories}"
                                th:value="${c.categoryId}"
                                th:text="${c.categoryName}"></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="hidden" name="productId" id="productId" th:value="${productId}"/>
                    <button type="submit">Zaktualizuj dane produktu</button>
                </td>
            </tr>
        </table>
    </form>
    <div>
    </div>
</div>
</body>
</html>